 /****************************************************************
		Fichier : style.css
		Auteur : Jérémy Besserer-Lemay
		Fonctionnalité : Reset CSS, public domain download
			Date: 2017-08-26

			Vérification:
			2017-08-26     Jérémy Besserer-Lemay   Approuvé
			======================================================
			
			Historique des modifications:
         *  ````````````2017-08-26      Jérémy Besserer-Lemay   1 Form Creation
                        2017-09-01      Pierre-Marc Baril       2 Ajout CSS catalogue/service
*****************************************************************/
body{
    font-family: Century Gothic;
}
header{
    background: linear-gradient(#09AAc1,#FFFAFB);
}
.topbar-nav {
    padding: 35px;
}
.identify,.panier,.deconnecter{
    float:right;
    color: #FFFAFB;
    font-size:10px;
    font-weight: bold;
    padding-right: 15px;
}

.profile,.catalogue, .facture, .service{
    float:right;
    font-size:14px;
    font-weight: bold;
    color: #FF9F07;
    padding-right: 15px;
    padding-top: 30px;
    text-decoration: none;
}

.oublie{
    font-weight: bold;
}

.oublie:link {
    color: #FF9F07;
}

.oublie:visited{
    color: #FF4A07;
}

#loupe{
    float:right;
    border-style: solid;
    margin-right: 15px;
    margin-top: 25px;
    padding-left: 100px;
    border: 1px solid black;
}

.chiffreErreur{
    font-size: 300px;
    font-weight: bold;
}

.lettreErreur{
    font-size: 40px;
    font-weight: bold;
}

.profile:active,.catalogue:active{
    color: #FF4A07;
}

.infoLogin{
    text-align:center;
    font-weight: bold;
    margin-top: 15px;
}

.connexion, #inscrire{
    background:url(../images/icones/bouton.png) no-repeat;
    cursor:pointer;
    color: #FFFAFB;
    width: 180px;
    height: 57px;
    border: none;
}

.connexionRight{
    background:url(../images/icones/bouton.png) no-repeat;
    cursor:pointer;
    color: #FFFAFB;
    width: 180px;
    height: 57px;
    border: none;
    float: right; 
}

label{
    font-size: 12px;
    color: #09AAc1;
}

.inputText{
    color: #FF9F07;
}

#courriel, #motdepasse{
    font-weight: bold;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #FF9F07;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #FF9F07;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #FF9F07;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #FF9F07;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #FF9F07;
}

.borderForm{
    border:#FF9F07 1px solid;
    padding:20px;
    margin-left: 20px;
    margin-top: 20px;
    
}

.mainTextForm{
    font-size: 14px;
}

.oblTextForm{
    font-size: 10px;
    color: #FF4A07;
}

form {
    display: inline-block;
    text-align: left;
}

#theForm{
    text-align: center;
}

#facebook{
    width:200px;
    length: 50px;
}

.selectWidth{
    width: 285px;
    color: #FF9F07;
}

#produitImage{
    float: left;
    width: 200px;
    height:150px;
}
#produitCat{
    border: 1px solid #FF9F07;
    overflow: auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
}

#produitCatDesactiver{
    border: 1px solid #FF9F07;
    overflow: auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    opacity: 0.6;
}

#panierImg{
    width: 25px;
    length:25px;
    float: right;
    margin-right: 25px;
    padding-bottom: 15px;
}
#titreProd{
    margin-top: 5px;
}

#tarif{
    color:#09AAC1;
    padding-right: 33%;
    display:inline;
}

#duree{
    color:#FF9F07;
    margin-bottom: 2px;
}

#descProd{
    margin-bottom: 10px;
    margin-top:5px;
}

#produitCat pre {   
    display: inline;
    width: 800px;
}

.borderPromoCourante{
    border: yellowgreen solid 3px;
}

.borderPromoNonCourante{
    border: darkgray solid 3px;
    opacity: 0.6;
    background: url("../images/promotions/strikeout.png")center center no-repeat;  
}

/*For the text Promotion to the left of promotions*/

.promotion{
    float:left;
    font-size:22px;
    font-weight: bold;
    color: #FF9F07;
    padding-right: 55px;
    padding-left:15px;
    padding-top: 30px;
    padding-bottom: 55px;
    text-decoration: none;
}

.borderPromoFutur{
    border: darkgray solid 3px;
    opacity: 0.6;
}

.reseauxSociaux{
    width: 55px;
}
#numFacture{
    display:inline;
    width: 10%;
    height: 110px;
    float:left;
    padding-left: 5px;
    padding-top: 5px;
    color: #FF4A07;
    font-weight: bold;
}

#contenuFacture{
    width: 80%;
}

#descFacture{
    font-weight: bold;
    color:#09AAC1;
}

#nomClient{
    font-weight: bold;
    text-decoration: underline;
    padding-top: 5px;
}

#dateFacture{
    float: right;
    color: #FF9F07;
}

#prixFacture{
    float:right;
}

#detailFacture{
    float:right;
    color:black;
    width: 55px;
    height: 55px;
    padding-right: 5px;
    padding-top: 30px;
}

.divItems{
    width:70%;
    padding-left: 30%;
    display: none;      
}


#item{
    font-weight: bold;
    color:black;
    font-size:12px;
    padding-bottom : 5px;
}

#rabais{
    font-weight: bold;
    color:red;
    font-size:12px;
}

.bottom-align-text {
    position:relative;
    height: 280px;
    width: 150px;
}
.bottom-align-text img {
    position:absolute;
    bottom: 5px;
    margin-left:45%;
    float:right !important;
}

.dropdown{ 
    text-align:right;    
}

.btnDropdown{
    background:none;
    border:none;
    font-size:1em;
    color:orange;
}


.btn-primary{
    background-color: #FF9F07 !important;
}

.divIDCatalogue{
    display: none;
}

.divIDRabais{
    display: none;
}

.divIDRabaisModal{
    display: none;
}

#promotionIcon{
    background-color:antiquewhite;
    height: 47px; 
    width: 50px;
    text-align: center;
    font-weight: bold;
    color: #FF9F07;
    margin-right: 5px;
    padding:0px;
    
}

#promotionPlus{
    
    height: 47px; 
    width: 50px;
    text-align: center;
    font-weight: bold;
    color: #FF9F07 !important;
    margin-right: 5px;
    padding-top:18px;
    
}

#promotionIcon .btnDropdown{
    text-align:right;
}

#promoNumberText{
    vertical-align: middle;
    margin-bottom: 4px;
    color:#FF9F07;
}

#promotext{
    font-size: 8px;
    background-color:#FF9F07;
    color: #FFFAFB;
    margin-bottom: 0px;
}

#promotext p{
    margin-bottom: 0px;
    
}

.ajoutService{
    text-align: right;   
    font-weight:bold;
    font-size: 16px;
    color:#09AAC1;
    text-decoration:underline;
}

.noDeco{
    text-decoration:none;
    color:orange;
    pointer-events : none;
    cursor: default;
}

.noDeco:hover{
    text-decoration:none;
    color:orange;
    pointer-events : none;
    cursor: default;
}

.tooltip-inner {
    max-width: 400px;
    /* If max-width does not work, try using width instead */
    width: 400px; 
}

.modPercentageText{
    border: 1px solid black;
    padding: 0px !important;
    text-align: center;
}

.percentagePromotion{
    font-size: 24px;
    
}

.selectPromo{
    background-color:#FF9F07 !important;
    padding-top: 8px;
}