body{
    font-family: Century Gothic;
}
header{
    background: linear-gradient(#09AAc1,#FFFAFB);
}
.topbar-nav {
    padding: 35px;
}
.identify,.panier,.deconnecter{
    float:right;
    color: #FFFAFB;
    font-size:10px;
    font-weight: bold;
    padding-right: 15px;
}

.profile,.catalogue, .facture, .service{
    float:right;
    font-size:14px;
    font-weight: bold;
    color: #FF9F07;
    padding-right: 15px;
    padding-top: 30px;
    text-decoration: none;
}

.oublie{
    font-weight: bold;
}

.oublie:link {
    color: #FF9F07;
}

.oublie:visited{
    color: #FF4A07;
}

#loupe{
    float:right;
    border-style: solid;
    margin-right: 15px;
    margin-top: 25px;
    padding-left: 100px;
    border: 1px solid black;
}

.chiffreErreur{
    font-size: 300px;
    font-weight: bold;
}

.lettreErreur{
    font-size: 40px;
    font-weight: bold;
}

.profile:active,.catalogue:active{
    color: #FF4A07;
}

.infoLogin{
    text-align:center;
    font-weight: bold;
    margin-top: 15px;
}

.connexion, #inscrire{
    background:url(../images/icones/bouton.png) no-repeat;
    cursor:pointer;
    color: #FFFAFB;
    width: 180px;
    height: 57px;
    border: none;
}

.connexionRight{
    background:url(../images/icones/bouton.png) no-repeat;
    cursor:pointer;
    color: #FFFAFB;
    width: 180px;
    height: 57px;
    border: none;
    float: right; 
}

label{
    font-size: 12px;
    color: #09AAc1;
}

.inputText{
    color: #FF9F07;
}

#courriel, #motdepasse{
    font-weight: bold;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #FF9F07;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #FF9F07;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #FF9F07;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #FF9F07;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #FF9F07;
}

.borderForm{
    border:#FF9F07 1px solid;
    padding:20px;
    margin-left: 20px;
    margin-top: 20px;
    
}

.mainTextForm{
    font-size: 14px;
}

.oblTextForm{
    font-size: 10px;
    color: #FF4A07;
}

form {
    display: inline-block;
    text-align: left;
}

#theForm{
    text-align: center;
}

#facebook{
    width:200px;
    length: 50px;
}

.selectWidth{
    width: 285px;
    color: #FF9F07;
}

#produitImage{
    float: left;
    width: 200px;
    height:150px;
}
#produitCat{
    border: 1px solid #FF9F07;
    overflow: auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#panierImg{
    width: 25px;
    length:25px;
    float: right;
    margin-right: 25px;
    padding-bottom: 15px;
}
#titreProd{
    margin-top: 5px;
}

#tarif{
    color:#09AAC1;
    padding-right: 33%;
}

#duree{
    color:#FF9F07;
}

#descProd{
    margin-bottom: 10px;
    margin-top:5px;
    width: 800px;
}

#produitCat pre {   
    display: inline;
}

.borderPromoCourante{
    border: yellowgreen solid 3px;
    display:inline;
    border-radius: 5px;
    width: 45px;
    height: 45px;
    margin: 5px;
    margin-top: 30px;
}

.borderPromoNonCourante{
    border: darkgray solid 3px;
    display:inline;
    border-radius: 5px;
    width: 45px;
    height: 45px;
    margin: 5px;
    margin-top: 30px;
    opacity: 0.6;
    background: url("../images/promotions/strikeout.png")center center no-repeat;  
}


.promotion{
    float:left;
    font-size:22px;
    font-weight: bold;
    color: #FF9F07;
    padding-right: 55px;
    padding-left:15px;
    padding-top: 30px;
    padding-bottom: 55px;
    text-decoration: none;
}

.borderPromoFutur{
    border: darkgray solid 3px;
    display:inline;
    border-radius: 5px;
    width: 45px;
    height: 45px;
    margin: 5px;
    margin-top: 30px;
    opacity: 0.6;
}

.reseauxSociaux{
    float:right;
    width: 55px;
    height: 55px;
    padding-right: 5px;
    padding-top: 30px;
}
